{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <form action="/settings" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password_copy" placeholder="Repeate New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Data</button>
    </form>
{% endblock %}
